extends ../layout

block content
	.row
		.col-md-12
			.pull-right
				form(action="/nodes",method="get")
					input(type="text",name="q",placeholder="Search by name / email",value=post_params.q)
					button Search
			select
				option(value="all") All Groups
				option(value="none") Unassigned
				-each group_obj in group_objs
					option(value=group_obj.id) #{group_obj.name}
			.clearfix
	.row
		.col-md-12
			table.table
				thead
					tr
						th &nbsp;
						th(style="width:40%;") &nbsp;
				tbody
					-each item_obj in items
						tr
							td 
								p(style="float: left;font-size: 26px;margin-right: 20px;min-width:40px;") OK
								p(style="margin:0;margin-bottom:5px;font-size: 16px;")
									-if(item_obj.group)
										a(href="/groups/" + item_obj.group.id) #{item_obj.group.name}
										| &nbsp;/&nbsp;
									a(href="/nodes/" + item_obj.id)
										-if(item_obj.description)
											#{item_obj.description}
										-else
											#{item_obj.serial}
										| &nbsp;(&nbsp;<strong>#{item_obj.serial}</strong>&nbsp;)
								p(style="margin:0;font-size: 11px;") 
									-if(item_obj.country)
										strong= item_obj.country
										| &nbsp;-&nbsp;
									| Last Activity: #{item_obj.lastping}
							td
								.pull-right
									a.btn.btn-default(style="margin-left: 10px;",href="/nodes/#{item_obj.id}") Manage
								.clearfix

	.row
		.col-md-12
			.pull-right
				nav
					ul.pagination
						-if(current_page > 1)
							li
								a(href="/nodes?q=" + (post_params.q ? post_params.q : '') + "&limit=" + limit + "&page=" + (current_page-1))
									span Back
						-if(current_page < pages)
							li
								a(href="/nodes?q=" + (post_params.q ? post_params.q : '') + "&limit=" + limit + "&page=" + (current_page+1))
									span Next